body{
    background-color: #f1f3f5;
}
.blogs{
    margin: 0 auto;
    max-width: 1350px;
}

.back-to-top {
    position: fixed;
    right: 40px;
    top: 80%;
}
a {
    text-decoration: none;
    /*color: black;*/
}
a:hover{
    text-decoration: none;
    color: chartreuse;
}
.router-link-active {
    text-decoration: none;
}



